* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    background-color: blue;
    width: 100%;
}

#carouselExampleIndicators {
    height: 350px;
}

#img {
    height: 350px;
}

#list {

    color: gray;
    font-family: times new roman;
    font-size: 26px;
}

.listado {
    border-bottom: 0px solid gray;
}

#img_obs {
    height: 180px;
}

#zapatos {
    color: #0a0c0e;
}

.modal {
    padding-top: 5%;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    text-align: center;
}

.bodyModal {
    margin: 0px auto;

    width: 50%;
    justify-content: center;
    text-align: center;

    height: 50%;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    display: block;
}

h6 {
    text-align: left;
}

#min {
    color: #6F777C;
}

#boton {
    text-align: left;
    align-items: left;
    align-content: left;
}

#tex_area {
    width: 100%;
}

#cuerpo {
    display: flex;
}

.icon {
    color: #ECA739;
    margin-right: 3px;
}

#cont {
    background-color: #30f952;
}

#titulo {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#titulo2 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 65px;
}

#img_footer {
    height: 50px;
    text-align: center;
    margin-top: 30px;

}

#img_footer:hover {
    transform: scale(1.3);
    cursor: pointer;
}

#img_footer2 {
    height: 150px;
    width: 80%;
    border-radius: 150px;
    transition: transform 0.5s;

}

#img_footer2:hover {
    transform: scale(1.4);
    cursor: pointer;
}

#mensajito {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    width: 40%;
    margin: 0px auto;
    margin-bottom: 30px;
}

#mensajito2 {
    color: black;
    font-size: 15px;

}

#contenido {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.zapCentro{
    text-align: center;
}
.navbar-custom{
    background: #30f952;
}
 .navbar-brand,
 .navbar-text {
    color: black;
}