* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    background-color: blue;
    width: 100%;
}

#carouselExampleIndicators {
    height: 350px;
}

#img {
    height: 350px;
}

#list {

    color: gray;
    font-family: times new roman;
    font-size: 26px;
}

.listado {
    border-bottom: 0px solid gray;
}

#img_obs {
    height: 180px;
}

#zapatos {
    color: #0a0c0e;
}

.modal {
    padding-top: 5%;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    text-align: center;
}

.bodyModal {
    margin: 0px auto;

    width: 50%;
    justify-content: center;
    text-align: center;

    height: 50%;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    display: block;
}

.cjtxt
{
    
    margin-left: 100px;


}
.carrucelcen
{
    margin-top: 75px;
    margin-left: 0px;
    height: 350px;
    width: 1500px;
    margin-bottom: 150px;
    margin-right: 100px;
    
}

h6 {
    text-align: left;
}

#min {
    color: #6F777C;
}

#boton {
    text-align: left;
    align-items: left;
    align-content: left;
}

#tex_area {
    width: 100%;
}
#cont{
background-color: rgb(160, 180, 47);
}

#cuerpo {
    display: flex;
}

.icon {
    color: #ECA739;
    margin-right: 3px;
}

#cont {
    background-color: #FFD700;
}

#titulo {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#titulo2 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 65px;
}

#img_footer {
    height: 50px;
    text-align: center;
    margin-top: 30px;
    transition: 0.3s ease-in-out;

}

#img_footer:hover {
    transform: scale(1.3);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#img_footer2 {
    height: 150px;
    width: 80%;
    border-radius: 150px;
    transition: transform 0.5s;

}

#img_footer2:hover {
    transform: scale(1.4);
    cursor: pointer;
}

#mensajito {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    width: 40%;
    margin: 0px auto;
    margin-bottom: 30px;
}

#mensajito2 {
    color: black;
    font-size: 15px;

}

#contenido {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.zapCentro{
    text-align: center;
}
.navbar-custom{
    background: grey;
}
 .navbar-brand,
 .navbar-text {
    color: black;
}
/*Gaetee */
.search_box{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
    background: #2C3441;
    height: 35px;
    border-radius: 35px;
    padding: 10px;
}

.search_box:hover>input{
    width: 190px;
    padding: 0 10px;

}
.search_box:hover>.icon{
    background: #536179;
}

.icon:hover{
    transform: rotate(360deg)
    scale(0.8);
}

input{
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 40px;
    color: #fff;
}
.icon{
    color: #f50c5a;
    float: right;
    width: 35px;
    font-size: 1.3rem;
    height: 35px;
    border-radius: 40%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}
