.ajuste{
    max-width: 500px;
}
.centrar{
    text-align: center;
    margin: 50px;
}
.margen{
    margin-top: 100px;
}
.comentario-clientes{
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}
.button{
    background-color: #f2f2f2;
}
.enviar{
    max-width: 100px;
    margin: 5px;
    color: white;
}
.submenu {
    position: relative;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    color: white;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background: #17181b;
    padding: 20px;
}
.vacio {
    padding: 10px;
    background-color: #fbaf32;
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.lista-carrito{
    margin: 10px;
}